{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row banner3">
<div class="col-md-12 p-3">
    <div class="row p-5">
        <div class="col-md-6 offset-3 p-5">
    <form method="post">
       {% csrf_token %}
       {% for field in form %}
       <div class="row">
        <div class="col-md-6">
            <h4>{{ field.label }}</h4>
        </div>
        <div class="col-md-6">
            {{ field }}
       </div></div>
       {% for error in field.error %}
       <p class="text-danger">{{ error }}</p>
       {% endfor %}
       <br>
       {% endfor %}
       <button class="btn btn-warning">Register</button>
    </form>
</div>    
</div>
</div>
</div>
{% endblock %}