{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-md-12 banner1 text-center">
      <h1 class="display-2 fw-bold text-center text-white">About Us</h1>
      <p class="text-white">With a belief that knowledge is power, we connect our patients directly<br> with their results so they have valuable health information when they<br> need it most, care about our people and are committed to excellence in<br> our work.</p>
    
      <button class="btn btn-info btnnew ">->Test And Services</button>
      <button class="btn btn-info btnnew">->Meet Our Leadership</button>
    <br>
          
            <a href="/Home/" class="text-light">Home</a> / 
            <a href="/About Us/" class="text-light">About Us</a>
  </div>
</div>
 <div class="row"p-4>
  <div class="col-md-12 text-center">
  <i class="fa-solid fa-house"></i>
  <h5 class="text-center text-info ">Providing High Quality Test Services For Your Health</h5>
  <h2 class="text-center text-primary ">Harnessing Our Medical<br> Expertise To Build Best Test<br> Offering!<br>
  </h2>
 </div>
</div>
<div class="row"p-4>
  <div class="col-md-6"ps-5>
    <img src="{% static 'a2.jpg'%}" width="100%" height="400"/>
    <br>
    <div style="padding-top:100;">
    <a href="/Labs/"><button class="btn btn bgblue  btnnew text-info ">-> Book a Lab Visit</button></a>
  </div></div>
  <div class="col-md-6">
    <p class=" fw-bold text-primary">With a belief that knowledge is power, we connect our<br> patients directly with their results so they have valuable<br> health information when they need it most, care about our<br>people and are committed to excellence in the work we do<br>for people to grow and strive for excellence.</p>
    <p>Safety is a vital part of this process, and so we identified and<br>discussed several key factors and considerations around<br> safety in vaccine development provides insights.</p>
    <div class="d-flex">
    <h6><img src="{% static 'check3.png' %}" width="20" height="20"/>
    <p class="text-primary">Health, Wellness and Insurance</p></h6></div>
    <p>We have developed some of the world's most<br> advanced testing capabilities to help improve health<br> and lives</p><hr>
    <div class="d-flex">
    <h6><img src="{% static 'check3.png' %}" width="20" height="20"/>
    <p class="text-primary">97% Customer Satisfaction Rate</p></h6></div>
    <p>With the support of our diagnostics capabilities to<br> deliver drug trials that are both reliable and rigorous,</p><hr>
    <div class="d-flex">
    <h6><img src="{% static 'check3.png' %}" width="20" height="20"/>
    <p class="text-primary">Family Scholarship Program</p></h6></div>
    <p>Please avoid wearing scented perfumes or creams<br> when visiting our Patient Service Centres.</p>
    
  </div>
  <div class="row p-5" style="background-color:rgb(97, 233, 187);">
     <div class="col-md-11 ps-5">
          <h3 class=" fw-bold text-light"> Helping To Deliver Answers For Health Questions With Fixed Commitment To Excellence & Quality Of Our Results.
          </h3>
      </div>
      <div class="row">
      <div class="col-md 7 ps-5">
        <p class=" mg-5 fw-bold text-light">The insights we gain through testing then fuel our drug development practice, by identifying patterns<br> and individuals who might benefit from enrollment in specific drug trials with the support of diagnostics<br> capabilities to deliver reliable data.</p>
         <p class=" fw-bold text-light">To provide a comfortable and safe environment for our patients, please avoid wearing scented perfumes<br>or creams when visiting us.</p>
    </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <img src="{% static 'cirtificate-1.jpg' %}"/>
        <img src="{% static 'cirtificate-2.jpg' %}"/>
        <img src="{% static 'cirtificate-3.jpg' %}"/>
      </div>
    </div>
    
    <div class="row p-5">
      <div class="col-md-4 ps-4">
        <div class="col-md-12 border p-4">
          <h4 class="text-primary"> Improving Your Health Through Automation</h4><hr>
          <p>Partnering for Through our investment in new high volume chemistry tech, we have brought next generation.</p>
          </div>
           </div>
          <div class="col-md-4 ps-4">
            <div class="col-md-12 border p-4">
              
          <h4 class="text-primary">Partnering For Better Health Outcomes</h4><hr>
          <p>Building a healthier world clearly means looking at the future genetics and being ready for using it.
          </p>
          </div>
            </div>
            <div class="col-md-4 ps-4">
              <div class="col-md-12 border p-4">
            <h4 class="text-primary">Innovations In Vaccines & Drug Development</h4><hr>
          <p>In the face of a growing street drug crisis, we need quick and accurate screening is a matter of life and death.</p> 
          </div>
          </div>
          </div>
         <div class="row p-1">
          <div class="col-md-4 p-4">
            <div class="col-md-12 border p-4">
           <h4 class="text-primary">Trust Towards our Shared Purpose</h4><hr>
           <p>We care for our patients, each other and our communities and excellence is the standard of working quality.</p>
          </div>
          </div>
        
          <div class="col-md-4 p-4">
            <div class="col-md-12 border p-4">
            <h4 class="text-primary">Empowered To Change, Act,& To Adapt</h4><hr>
            <p>We work with you to develop individualised care plans, including manage of chronic diseases can provide referrals.</p>
          </div>
          </div>
         <div class="col-md-4 ps-4 p-4">
          <div class="col-md-12 border p-4">
           <h4 class="text-primary">New Advanced Instruments</h4><hr>
           <p>We can provide referrals or advice about the type of practitioner you require to treat all enquiries sensitively.</p> 
          </div>
          </div>
         </div>
  
    </div>
  </div>
  
      <div class="row  p-4" id="partners">
        <div class="col-md-12">
          <marquee>
          <img src="{% static 'lg1.jpg'%}" />
          
          <img src="{% static 'lg2.jpg'%}" />
          <img src="{% static 'lg4.jpg'%}" />
          
          </marquee>
    
        </div>
    </div>
  </div>
  <!--row end-->
  <div class="row p-5 bgblue" >
    <h6 class="text-info">Providing High Quality Test Services For Your Health!</h6>
    <h2 class="text-light">Helping To Deliver Answers<br>For Health Question.</h2>
    <h2 class="display-2 fw-bold"></h2><br>
    <div class="col-md-6"ps-5>
    <img src="{% static '1.jpg'%}" width="400" height="400"/>
  </div>
  <div class="col-md-6">
    <p class="text-light">Appointment may be booked to help reduce your wait time.<br>if You are Unable to book an Appointment,we do our best to<br>minimize your wait,but the length in the patient service centre.
    typically,wait times are a little longer in then morning as<br>patients tend to fast for tests over night.</p>
   <p class="text-light">to provide a comfortable and safe environment for our<br>patients and employees,please avoid wearing scented<br>perfumes or creams when  visiting uor patient service<br>centre.</p>
   <div class="d-flex">
    <img src="{% static 'f3.jpg' %}" width="50" height="50"/>
   <h3 class="text-light">World Class Diagnostics</h3>
     </div>
    <p class="text-light">we have developed some of the worlds most<br>advanced testing capabilities to help improve health<br>and lives.</p>
    <div class="d-flex">
    <img src="{% static 'f4.jpg' %}" width="50" height="50"/>
    <h3 class="text-light">Leader in Drug developedment</h3>
    </div>
     <p class="text-light">with the support of uor diagnostices capabilities to<br>deliver drug trials that are both reliable and rigorous,</p>
  </div><hr class="text-light">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center text-light fw-bold">We process more than 3 million patient specimens per week and help<br> medical professionals and patients make important health decisions, by<br> identifying patterns and even individuals who might benefit from enrollment <br>in specific drug trials.</p>
    </div></div>
    <div class="row">
    <div class="col-md-12 text-center">
      <img src="{% static 'cirtificate-1.jpg' %}"/>
      <img src="{% static 'cirtificate-2.jpg' %}"/>
      <img src="{% static 'cirtificate-3.jpg' %}"/>
    </div>
  </div>
</div>
  
  <div class="row p-5">
    <div class="col-md-5">
      <h2 class="text-primary">Tips,News & Updates</h2>
      <img src="{% static 'covid.jpg'%}"width="450" height="400"/>
      <h4 class="text-primary">Partnership to Increase COVID 19<br>Testing Capacity and Track All COVID-19 Variants</h4>
      <p>With 200 access points acrose the country a<br> comprehensive logistics network,we have proven to be an important partner in the response to COVID-19,having<br> governments with the most </p>
      <a href="/blog/"><button class="btn btn-info"> + Read More</button></a>
    </div>
    <div class=" col-md-3 ps-5">
      <h5 class="text-primary">Preventing pathogen Passage by Taking Precautions Against the</h5>
      April 25,2022-Mike Dooley
      <h5 class="text-primary">Driving that Gene Mutations Seen Spreading Trait through a New Viral</h5>
      April 25,2022-Mike Dooley
      <h5 class="text-primary"> No Cough,No problem? Medication Concerns and COVID-19 Symptoms in </h5>
      April 25,2022-Mike Dooley
      <h5 class="text-primary">Celluler housekeeping:How autophagy models in mice could lead to treatment in</h5> 
      April 25,2022-Mike Dooley 
    </div>
    <div class="col-md-4 bggreen text-light p-5" id="partners">
      <h5>Sign Up For Alerts, News,Throughts,And Insights</h5>
      <form>
        
        <input type="text" class="form-control"placeholder=" Your Name"pattern="[A-za-z]"/>
        
        <input type="text" class="form-control"placeholder=" Your Email"pattern="[A-za-z]"/>
        <input type="text" class="form-control"placeholder=" subscribe"pattern="[A-za-z]"/>
        Have A Question!<br>contact us  
      </form>  
        
  
  </div>
  </div>
      
      
    
      
  {% endblock %}