{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row banner2">
<div class="col-md-6">
    <h2 class="text-light">Contact</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.0237316465773!2d74.95836613886294!3d30.207870110915895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391732a8a308e201%3A0x9b857e012f4d9428!2sPower%20House%20Rd%2C%20Model%20Town%2C%20Phase-3%2C%20Model%20Town%2C%20Bathinda%2C%20Punjab!5e0!3m2!1sen!2sin!4v1681972821022!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

    <div class="col-md-6 offset-3 p-5">
        <h3 class="text-light">Fill Free to write us...</h3>
        <form action="/insertcontact/"method="post">
            {% csrf_token %}
            <input type="text"name="firstname"class="form-control mb-3"placeholder="name">
            <input type="email"name="email"class="form-control mb-3"placeholder="email">
            <input type="text" name="subject" class="form-control mb-3"placeholder="subject">
            <textarea class="form-control  mb-3"name="message"placeholder="massage"></textarea>
            <button class="btn btn-warning "type="submit">send</button>
        </form>
    </div>
    </div>

  

{% endblock %}