{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      
      <img src="{% static 'chemlabs-slider-1.webp'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="row mr-3">
          <div class="col-md-6"data-aos="fade-right">
          
       <h2 class="display-3 fw-bold">
              Clear,
          <br>Relatable,And
          <br>Infoemative
          <br>Testing
           <br>Results!</h2>
          
          
      <p class="fw-bold"> we are continually harmessing our medical expertise to build best test offering while investing in technology to transform the delivery of health care.</p>
        </div>
        </div>
      </div>
      
    </div>
    <div class="carousel-item">
      <img src="{% static 'chemlabs-slider-2.webp'%}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="md-6"data-aos="fade-right">
        <h3 class="display-3 fw-bold">
          Provide Trusted
         <br> Data For A Clear 
          <br>Health Decision!
        </h3>
        <p class="fw-bold">we are continually harmessing our medicalexpertise to build best test<br> offering while investing in technology to transformthe delivery of health 
          <br>care
        </p>
      </div>
      </div>
    </div>
   
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <div class="row bggreen text-dark p-4" id="partners">
    <div class="col-md-12">
      <marquee>
      <img src="{% static 'p1.jpg'%}" />
      <img src="{% static 'p2.png'%}" />
      <img src="{% static 'chem-4.webp'%}" />
      <img src="{% static 'p2.png'%}" />
      <img src="{% static 'p1.jpg'%}" />
      <img src="{% static 'chem-4.webp'%}" />
      <img src="{% static 'p1.jpg'%}" />
      <img src="{% static 'p2.png'%}" />
      <img src="{% static 'chem-4.webp'%}" />

      </marquee>

    </div>

</div>
<!--row end-->
<div class="row p-5">
  <div class="col-md-4" data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500">
    <div class="col-md-12 p-2 ">
      <h3 class="text-primary"> COVID 19 Testing Solutions</h3>
      <p>Tests can be orded easily by<br>health plan or employer or through<br>some employee
      
    </div>
   
     <div class="p-2 bg-light ">
      <a href="/Test/"><button class="btn bggreen btnnew">-> Request Test</button></a>
      </div>
      </div>
    <div class="col-md-4" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
    <div class="col-md-12 ">
      <div class="p-2">
        <h3 class="text-primary">I'm a Healthcare Provider</h3>
        <p> clinical testing partnerships with<br>industry leaders to make patients<br>have diagnostic</p>
        </div>
    <div class="p-2 bg-light ">
    <a href="/signup/"><button class="btn  bggreen btnnew-">-> Registration</button></a>
  </div>
</div>
</div>
     <div class="col-md-4" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
     <div class="col-md-12 ">
       <div class="p-4">
        <h2 class="text-primary">I'm a patient</h2>
        <p> Focus on prevention & early<br>identification of potential health<br>conditions to ofeer suite.</p>
        </div>
 <div class="p-2 bg-light ">
        <a href="/Appointment/"><button class="btn  bggreen btnnew-">-> Appointment</button></a>
      </div>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="fw-bold text-center">Whether you are a provider or patient, when you need trusted <br>information to make confident health decisions, consider us.</p>
  <hr>
  </div>
</div>
</div>
<!--row end-->
<div class="row p-4">
  <div class="col-md-6" data-aos="flip-up"ps-5>
     <img src="{% static '1-1.webp'%}" width="100%" height="550"/>
  </div>
  <div class="col-md-6" ps-5>
    <h1 class="text-primary">Continually<br>Haressing Our<br>Medical Expertise To<br>Build Best Test<br>Offering!</h1><br>

    <p class="fw-bold">with a belief that knowedge is power.we connect our<br>patientdirectly with their results so they have valuable<br>health information when they need it most,care about out<br>people and are committ to excellence in the work we do<br>for people to grow and strive for excellence.</p>
    <div class="row p-3">
   <div class="col-md-6"ps-4 data-aos="flip-up">
    <img src="{% static 'a2.jpg' %}"width="200" height="100"/>
    </div>
    <div class="col-md-6"ps-5>
    <h6><img src="{% static 'check3.png' %}" width="20" height="20"/>
    Health,Wellness and Insurance</h6>
    <h6><img src="{% static 'check3.png' %}" width="20" height="20"/>
      97% customer satisfaction rate
    <h6><img src="{% static 'check3.png' %}" width="20" height="20"/>
      Family Scholarship Program
    </div>
    </div>
  </div>
</div>
</div>
<!--row end-->
<div class="row p-2 "data-aos="fade-up" style="background-color:rgb(238, 241, 238);">

  <div class="col-md-12" >
    <h5 class=" text-info text-center fw-bold">Find The Right Test For Your Needs!</h5>
    <h1 class="text-center text-primary fw-bold">Providing High Quality Test <br>Services For Your Health!</h1>
  </div>
</div>  
<div class="row p-5"data-aos="zoom-out-left">
  <div class="col-md-4 ps-3 mr-5">
    <div class="col-md-12 border ps-4"><br>
      <div class="d-flex">
      <h4 class="text-primary fw-bold">General<br>Diagnostic<br>Testing</h4><br>
      <img src="{% static 'ms.png'%}" width="100" height="100"/>
    </div><br>
      <p class="fw-bold">we are leader in ensuring<br>exceptional quality testing in our<br>facilities,driven by a passion to<br>ensure you have critical give you access to diagnostic</p><br>
      <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
      Gastrointestestinal Health<br></h6>
      <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
      immunological disorders<br></h6>
      <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
      Cardiovascular Health</h6><br>
    </div>
      </div>
    
        <div class="col-md-4 ps-3 mr-5">
          <div class="col-md-12 border ps-4"><br>
            <div class="d-flex">
            <h4 class="text-primary fw-bold">Specialized<br>Genetic Testing</h4><br>
            <img src="{% static 'f2.png'%}" width="50" height="50"/>
            </div><br>
            <p  class="fw-bold">Genetic testing can be useful at<br>different stages of life,like<br>discovering that a family member<br>has a condition that can be passed<br>down or struggling to find<br>treatment<br></p><br>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Reproductive Health<br></h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Genetic Disorders<br></h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
             Hereditary CancerS</h6><br>
          </div>
      </div> 
    <div class="col-md-4 ps-3 mr-5">
        <div class="col-md-12 border  ps-4"><br>
          <div class="d-flex">
          <h4 class="text-primary fw-bold">Naturopathic <br>Lab Testing</h4><br>
          <img src="{% static 'f1.png'%}" width="50" height="50"/>
          </div><br>
          <p class="fw-bold">From homeone levels to food<br>reaction,to identifying<br>environmental toxins,we provide<br>you with objective information so<br> you can map yourpath to health<br>and weeness</p><br>
          <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Salivary Homeone<br></h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Food Sensitivity<br></h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Inhalant Allergy</h6><br>
          </div>
        </div> 
    </div>
  </div>
  <!--row end-->
  <div class="row p-5">
    <div class="col-md-6"ps-5>
      <h3 class="text-primary">What to Expect during Your Visit</h3>
      <p class="fw-bold">To reduce your wait time,complete the personal information<br>the form in advance.Although most routine tests are covered<br>under your provincial health insurance plan,some tests may not be covered!<br> To maintain Social Distancing youmay need to wait outside<br>Once we have your paper work, we will process you in our<br>system</p>
     <br>
     <a href="/test/"><button class="btn btn-primary ">->Test</button></a>
    </div>
      <div class="col-md-6">
      <img src="{% static 'a2.jpg' %}" width="500" height="300"/>
     </div>
  </div>
  <!--row end-->
  <div class="row p-3 bgblue">
    <div class="col-md-4 ps-3">
      <i class="fa-solid fa-address-book"></i>
      <span class="text-info">Provider Registration</span>
      &nbsp;&nbsp;
    </div>
  <div class="row p-5 bgblue">
    <div class="col-md-6 ps-5">
      <h6 class="text-info">Providing High Quality Test Services For Your Health!</h6>
      <h2 class="text-light">Helping To Deliver Answers<br>For Health Question.</h2>
      <h2 class="display-2 fw-bold"></h2><br>
     
      <img src="{% static '1.jpg'%}" width="400" height="300"/>
    </div>
        <div class="col-md-6 ps-5">
          <p class="text-light">Appointment may be booked to help reduce your wait time.<br>if You are Unable to book an Appointment,we do our best to<br>minimize your wait,but the length in the patient service centre.
          typically,wait times are a little longer in then morning as<br>patients tend to fast for tests over night.</p>
         <p class="text-light">to provide a comfortable and safe environment for our<br>patients and employees,please avoid wearing scented<br>perfumes or creams when  visiting uor patient service<br>centre.</p>
         <div class="d-flex">
          <img src="{% static 'f3.jpg' %}" width="50" height="50"/>
         <h3 class="text-light">World Class Diagnostics</h3>
           </div>
          <p class="text-light">we have developed some of the worlds most<br>advanced testing capabilities to help improve health<br>and lives.</p>
          <div class="d-flex">
          <img src="{% static 'f4.jpg' %}" width="50" height="50"/>
          <h3 class="text-light">Leader in Drug developedment</h3>
          </div>
           <p class="text-light">with the support of uor diagnostices capabilities to<br>deliver drug trials that are both reliable and rigorous,</p>
        </div><hr class="text-light">
        <div class="row">
        <div class="col-md-3 ps-2">
         <h1 class="text-light counter">7154</h1>
         <p class="text-light fw-bold">Tests & patient<br>Served in 2022</p>
        </div>  
        <div class="col-md-3 ps-5">
          <h1 class="text-light counter">1382</h1>
          <p class="text-light fw-bold">Free Patient Visits<br>Done Each Month</p>
        </div>
        <div class="col-md-3 ps-5">
          <h1 class="text-light "><span class="counter">163</span>+</h1>
          <p class="text-light fw-bold">Specialized centers<br>In 24 States</p>
        </div>
        <div class="col-md-3 ps-5">
          <h1 class="text-light "><span class="counter">98</span>%</h1>
          <p class="text-light fw-bold">Client satisfaction<br>Rate for Servies</p>
        </div>
          </div>
        </div>
  </div>
 <!--row end-->
    <div class="row p-5" style="background-color:rgb(76, 201, 159);">
      <div class="col-md-12">
      
         <h6 class="text-light">How To Order And Prepare For Your Test!</h6>
        <h4 class="text-light">Preparing for Test Help Us Ensure All Goes Smoothly</h4>
        <p class="text-light">To reduce your wait time, complete the personal information on the form in advance. Although most routine tests are covered under your provincial health insurance plan, some tests may not be covered with knowledge is power.</p>
     
      <p class="text-light">We connect directly with patients with patients to deliver their results so they have valuable heaslth information when they need it most,we care about our people.</p>
      <img src="{% static 'check.png' %}"/>
      <span class="text-light">Improving Through Automation</span><br>
      <img src="{% static 'check.png' %}"/>
     <span class="text-light">New Advanced instruments</span>
     <img src="{% static 'check.png' %}"/>
      <span class="text-light"> Strict Quality Pratices</span> 
    </div>
    
    
    <div class="col-md-3" data-aos="flip-left">
      <div class="col-md-12 border p-4">
        <span class="bg-light text-dark p-2 ps-3 pe-3  fs-4 circle">1</span>
        <h4 class="text-primary fw-bold mt-4">Find the<br> Nearest Lab For You</h4>
        <p class="text-light">Find the Nearest location for you online through our contact page,or just call us.</p>
      </div>
    </div>
    <div class="col-md-3"data-aos="flip-left">
      <div class="col-md-12 border p-4">
        <span class="bg-light text-dark p-2 ps-3 pe-3  fs-4 circle">2</span>
        <h4 class="text-primary fw-bold mt-3">Make An <br>Online Appointment</h4>
        <p class="text-light"> You can book an appointment online contact us to send you  one of our lab experts.</p>
      </div>
    </div>
    <div class="col-md-3"data-aos="flip-left">
      <div class="col-md-12 border p-4">
        <span class="bg-light text-dark p-2 ps-3 pe-3  fs-4 circle">3</span>
        <h4 class="text-primary fw-bold mt-3">collect Sample And Send for Testing</h4>
        <p class="text-light">Sample can be collected in office,lab or the patient can collect the sample at home.</p>
      </div>
      </div>
      <div class="col-md-3"data-aos="flip-left">
        <div class="col-md-12 border p-4">
          <span class="bg-light text-dark p-2 ps-3 pe-3  fs-4 circle">4</span>
          <h4 class="text-primary fw-bold mt-3">Visit Our <br>Patient Service Centre</h4>
          <p class="text-light">Committed to treating people with respect and in ways that help  them maintain their dignity.</p>
        </div>
        </div>
    </div>
   <!--row end--> 
    <div class="row p-5" style="background-color: rgb(33, 33, 92);">
      <div class="col-md-12"ps-4>
    <h3 class="text-light"> Trusted Data For Clear Health Decision</h3>
    <p class="text-light">You focus is on providing patients the best possible care and were here to help.To complement our menu of tests,we provide our registered healthcare professionals to support your testing needs.</p>
  </div>
  </div>
  <!--row end-->
  <div class="row p-3">
    <div class="col-md-12 ps-5">
      <h5 class="text-info">Helping To Deliver Answers For Health Questions!</h5><br>
      <h2 class="text-primary fw-bold">Fixed Commitment To Excellence And Quality Of Our Test Results.</h2>
    </div>
    <div class="row p-5">
    <div class="col-md-5">
    <br>
      <p>The Insights we gain through testing then fuel <br>our drug developedment practice,by identifying<br> patterns and even individuals who might<br>benefit from enrollments in specific drug trials.</p>
      <br>
      <p>With the support of our diagnostics<br>capabilities to deliver drug trials that are both<br>reliable.</p>   
    
    </div>  
    <div class="col-md-3 ps-5">
      <div class="d-flex">
      <img src="{% static 's4.jpg' %}" width="90" height="90">
      <h5 class="text-primary">Improving Your Health</h5>
      </div>
     <p>partnering for Through our<br>investment in new high volume<br>chemistry tech,we have brought next generation.</p><hr>
     <div class="d-flex">
     <img src="{% static 's3.png' %}" width="80" height="80">
      <h5 class="text-primary"> Innovations In Vaccines</h5>
      </div>
     <p> In the face of a growing street drug crisis,we need quick and accurate screening is a matter of life and death.</p><hr>
     <div class="d-flex">
     <img src="{% static 's2.png' %}" width="80" height="60">
     <h5 class="text-primary">Empowered to Change</h5></div>
     <p>We work with you to develop individualised care plans ,including manage of chronic diseases can provide referrals.</p><hr>
     <!--<div class="d-flex">
     <img src="{% static 's1.jpg' %}" width="100" height="100">
     <h5 class="text-primary">Strick Quality practices</h5></div>
      <p>Support of our diagnostics capabilities to deliver drug trials that are both reliable  and rigorous,we're able to support trials.</p><hr>-->
    </div>
    <div class="col-md-3 ps-5">
      <div class="d-flex">
      <img src="{% static 's5.jpg' %}" width="70" height="60">
      <h5 class="text-primary">Better Health Outcomes</h5></div>
      <p>Buliding a healtherier world clearly means looking at the future genetics and being ready for using it.</p><hr>
      <div class="d-flex">
      <img src="{% static 's6.png' %}" width="60" height="50">
      <h5 class="text-primary">Trust Shared Purpose</h5></div>
      <p>we care for our patients,each other and our communities  and excellence is the standard of working quality.</p><hr>
      <div class="d-flex">
      <img src="{% static 's7.png' %}" width="80" height="80">
      <h5 class="text-primary">New Advanced instruments</h5></div>
      <p> We can provide referralsor advice about the type of practitioner you require to treat all enquiries Sensitively.</p><hr>
      </div>
    </div>
  </div>
    <!--row end-->
    <div class="row p-4" style="background-color: rgb(52, 52, 117);">
    <div class="col-md-6 ps-5">
        <h6 class="text-info">Your Health And Safety Is Important To us</h6>
        <h2 class="text-light"> Find Your Nearest Lab And<br> Schedule An Appointment</h2>
       <br>
       <img src="{% static 'home-01.webp'%}" width="400" height="350"/><br>
  </div>   
    
          <div class="col-md-6 ps-2">
           
         <p class="text-light">To provide a comfortable and safe environment for our patients and employees, please avoid wearing scented perfumes or creams when visiting our Patient Service Centres.</p>
         
         <div class="d-flex">
          <img src="{% static 'ap1.jpg'%}" width="50" height="50"/>
          <h5  class="text-light">Patient Centered Care</h5></div>
          <p  class="text-light">We work day and night to solve the problems that can help them move forward for those who is seeking answers!</p>
          <div class="d-flex">
         <img src="{% static 'ap.jpg' %}" width="50" height="50"/>
         <h5  class="text-light">Quality Improvement</h5></div>
          <p  class="text-light">Our team typically processes over 3 million patient every month and fifty of the top drugs developed in 2022.</p>
          <div style="padding-top: 50px;">
       <a href="/Appointment/"><button class="btn btn-info"> + Read More</button></a>
        </div>
         </div>
        </div>
<!--row end-->
<div class="row p-5">
  <div class="col-md-5 ps-2">
    <h2 class="text-primary">Tips,News & Updates</h2>
    <img src="{% static 'covid.jpg' %}"width="450" height="400"/>
    <h5 class="text-primary">Partnership to Increase COVID 19<br>Testing Capacity and Track All COVID-19 Variants</h5>
    <p>With 200 access points acrose the country a<br> comprehensive logistics network,we have proven to be an important partner in the response to COVID-19,having<br> governments with the most </p>
    <a href="/blog/"><button class="btn btn-info"> + Read More</button></a>
  
  </div>

<div class=" col-md-3 ps-5">
  <h5 class="text-primary">Preventing pathogen Passage by Taking Precautions Against the</h5>
  April 25,2022-Mike Dooley
  <h5 class="text-primary">Driving that Gene Mutations Seen Spreading Trait through a New Viral</h5>
  April 25,2022-Mike Dooley
  <h5 class="text-primary"> No Cough,No problem? Medication Concerns and COVID-19 Symptoms in </h5>
  April 25,2022-Mike Dooley
  <h5 class="text-primary">Celluler housekeeping:How autophagy models in mice could lead to treatment in</h5> 
  April 25,2022-Mike Dooley 
</div>
<div class="col-md-4 bggreen text-light p-5" id="partners">
  <h3>Sign Up For Alerts, News,Throughts,And Insights</h3>
  <form action="/insertSubcribe/" method="post">
    {% csrf_token %}
    
    <input type="Name" name="Name" class="form-control"placeholder=" enter Your Name"/><br>
    
    <input type="email" name="emailid" class="form-control"placeholder="  enter Your Email"/>
    <br>
    <button class="btn btn-warning">Subscribe</button><br>
    <h5 style="padding-top: 150px;"class="text-center">
    Have A Question!<br>contact us </h5> <br>
  </form>
</div>
</div>
    
    
  
    
  
  
        
    
     
    
  {% endblock %}