{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-md-12 banner5">
    
      <h6 class="text-info">Harnessing Our Medical Expertise To Build Best Test Offering!</h6>
    <h1 class="text-light fw-bold display-3">Quality Laboratory<br>Testing Services!</h1>
    <p class="text-light fw-bold">With a belief that knowledge is power, we connect our patients directly with their results so they<br> have valuable health information when they need it most, care about our people and are committed<br> to excellence in the work we do.</p>

</div>
</div>
<!--row end-->

  <div class="col-md-12" >
    <h5 class=" text-info text-center fw-bold">Find The Right Test For Your Needs!</h5>
    <h1 class="text-center text-primary fw-bold">Providing High Quality Test <br>Services For Your Health!</h1>
  </div>
</div>  
<div class="row p-5"data-aos="zoom-out-left">
  <div class="col-md-4 ps-4 mr-5">
    <div class="col-md-12 border ps-4"><br>
      <div class="d-flex">
      <h4 class="text-primary fw-bold">General<br>Diagnostic<br>Testing</h4><br>
      <img src="{% static 'ms.png'%}" width="100" height="100"/>
    </div><br>
      <p class="fw-bold">we are leader in ensuring<br>exceptional quality testing in our<br>facilities,driven by a passion to<br>ensure you have critical give you access to diagnostic</p><br>
      <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
      Gastrointestestinal Health<br></h6>
      <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
      immunological disorders<br></h6>
      <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
      Cardiovascular Health</h6><br>
    </div>
      </div>
    
        <div class="col-md-4 ps-4 mr-5">
          <div class="col-md-12 border ps-4"><br>
            <div class="d-flex">
            <h4 class="text-primary fw-bold">Specialized<br>Genetic Testing</h4><br>
            <img src="{% static 'f2.png'%}" width="50" height="50"/>
            </div><br>
            <p  class="fw-bold">Genetic testing can be useful at<br>different stages of life,like<br>discovering that a family member<br>has a condition that can be passed<br>down or struggling to find<br>treatment<br></p><br>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Reproductive Health<br></h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Genetic Disorders<br></h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
             Hereditary CancerS</h6><br>
          </div>
      </div> 
    <div class="col-md-4 ps-4 mr-5">
        <div class="col-md-12 border  ps-4"><br>
          <div class="d-flex">
          <h4 class="text-primary fw-bold">Naturopathic <br>Lab Testing</h4><br>
          <img src="{% static 'f1.png'%}" width="50" height="50"/>
          </div><br>
          <p class="fw-bold">From homeone levels to food<br>reaction,to identifying<br>environmental toxins,we provide<br>you with objective information so<br> you can map yourpath to health<br>and weeness</p><br>
          <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Salivary Homeone<br></h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Food Sensitivity<br></h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Inhalant Allergy</h6><br>
          </div> 
    </div>
   
<div class="row p-5"data-aos="zoom-out-left">
  <div class="col-md-4 ps-4 mr-5">
    <div class="col-md-12 border ps-4"><br>
      <div class="d-flex">
      <h4 class="text-primary fw-bold">Food<br>Sensitivity<br>Testing</h4><br>
      <img src="{% static 'fd.jpg'%}" width="70" height="70"/>
    </div><br>
      <p class="fw-bold">IgG food reactions can take hours or days to develop, making difficult to determine which food is responsible for the reaction without doing testing fast and specific way....</p><br>
      <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
      Stomach or abdominal PainS<br></h6>
      <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
      Gastrointestestinal distress</h6>
      <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
      Bloating/indigestion</h6><br>
    </div>
      </div>
    
        <div class="col-md-4 ps-4 mr-5">
          <div class="col-md-12 border ps-4"><br>
            <div class="d-flex">
            <h4 class="text-primary fw-bold">Genova<br>Diagnostics<br> Testing</h4><br>
            <img src="{% static 'fd1.jpg'%}" width="60" height="60"/>
            </div><br>
            <p  class="fw-bold">Genova Diagnostics is an internationally renowned lab committed to only the highest standards. Chronic diseases are complex, but with Genova's system-based testing.... </p><br>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
              Gastrointestinal/Immunology</h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Nutritional/Endocrinology<br></h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
             Genomics/Environmental</h6><br>
          </div>
      </div> 
    <div class="col-md-4 ps-4 mr-5">
        <div class="col-md-12 border  ps-4"><br>
          <div class="d-flex">
          <h4 class="text-primary fw-bold">Hormone <br>Insights<br> Testing</h4><br>
          <img src="{% static 'fd2.jpg'%}" width="80" height="80"/>
          </div><br>
          <p class="fw-bold">Hormones are essential for the body to function optimally. Imbalances may result in many health conditions. Hormone Insights is a detailed urine analysis that measures....</p><br>
          <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
            Cortisol and cortisone metabolites<br></h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
              Androgens and 17-ketosteroids<br></h6>
            <h6><img src="{% static 'check1.png' %}" width="20" height="20"/>
              Progesterone metabolites</h6><br>
          </div>
        </div> 
    </div>
    </div>
<!--row end-->
<div class="row p-5" style="background-color:rgb(76, 201, 159);">
  <div class="col-md-12">
  
     <h6 class="text-light">How To Order And Prepare For Your Test!</h6>
    <h4 class="text-light">Preparing for Test Help Us Ensure All Goes Smoothly</h4>
    <p class="text-light">To reduce your wait time, complete the personal information on the form in advance. Although most routine tests are covered under your provincial health insurance plan, some tests may not be covered with knowledge is power.</p>
 
  <p class="text-light">We connect directly with patients with patients to deliver their results so they have valuable heaslth information when they need it most,we care about our people.</p>
  <img src="{% static 'check.png' %}"/>
  <span class="text-light">Improving Through Automation</span><br>
  <img src="{% static 'check.png' %}"/>
 <span class="text-light">New Advanced instruments</span>
 <img src="{% static 'check.png' %}"/>
  <span class="text-light"> Strict Quality Pratices</span> 
</div>


<div class="col-md-3"data-aos="flip-left">
  <div class="col-md-12 border p-4">
    <span class="bg-light text-dark p-2 ps-3 pe-3  fs-4 circle">1</span>
    <h4 class="text-primary fw-bold mt-4">Find The Nearest Lab For You</h4>
    <p class="text-light">Find the Nearest location for you online through our contact page,or just call us.</p>
  </div>
</div>
<div class="col-md-3"data-aos="flip-left">
  <div class="col-md-12 border p-4">
    <span class="bg-light text-dark p-2 ps-3 pe-3  fs-4 circle">2</span>
    <h4 class="text-primary fw-bold mt-3">Make An <br>Online Appointment</h4>
    <p class="text-light"> You can book an appointment online contact us to send you  one of our lab experts.</p>
  </div>
</div>
<div class="col-md-3"data-aos="flip-left">
  <div class="col-md-12 border p-4">
    <span class="bg-light text-dark p-2 ps-3 pe-3  fs-4 circle">3</span>
    <h4 class="text-primary fw-bold mt-3">collect Sample And Send for Testing</h4>
    <p class="text-light">Sample can be collected in office,lab or the patient can collect the sample at home.</p>
  </div>
  </div>
  <div class="col-md-3"data-aos="flip-left">
    <div class="col-md-12 border p-4">
      <span class="bg-light text-dark p-2 ps-3 pe-3  fs-4 circle">4</span>
      <h4 class="text-primary fw-bold mt-3">Visit Our<br>
         Patient Service Centre</h4>
      <p class="text-light">Committed to treating people with respect and in ways that help  them maintain their dignity.</p>
    </div>
    </div>
</div>
<!--row end-->
<div class="row p-5" style="background-color: rgb(33, 33, 92);">
  <div class="col-md-2">
    <img src="{% static 'lgo.jpg' %}" width="100" height="100"/>
  </div>
  <div class="col-md-8"ps-4>
    <h3 class="text-light"> Trusted Data For Clear Health Decision</h3>
<p class="text-light">You focus is on providing patients the best possible care and were here to help.To complement our menu of tests,we provide our registered healthcare professionals to support your testing needs.</p>
</div>
</div>
<!--row end-->
<div class="row p-5">
<div class="col-md-6"p-3><br>
  <h5 class="text-info">Helping To Deliver Answers For Health Questions!</h5><br>
  <h2 class="text-primary fw-bold">Fixed Commitment To Excellence<br>And Quality Of Our Test Results.</h2>
</div><br>
<div class="row ps-4">
<div class="col-md-5">
<br>
  <p>The Insights we gain through testing then fuel <br>our drug developedment practice,by identifying<br> patterns and even individuals who might<br>benefit from enrollments in specific drug trials.</p>
  <br>
  <p>With the support of our diagnostics<br>capabilities to deliver drug trials that are both<br>reliable.</p>   

</div>  
<div class="col-md-3"ps-5>
  <div class="d-flex">
  <img src="{% static 's4.jpg' %}" width="90" height="90">
  <h5 class="text-primary">Improving Your Health</h5>
  </div>
 <p>partnering for Through our<br>investment in new high volume<br>chemistry tech,we have brought next generation.</p><hr>
 <div class="d-flex">
 <img src="{% static 's3.png' %}" width="80" height="80">
  <h5 class="text-primary"> Innovations In Vaccines</h5>
  </div>
 <p> In the face of a growing street drug crisis,we need quick and accurate screening is a matter of life and death.</p><hr>
 <div class="d-flex">
 <img src="{% static 's2.png' %}" width="80" height="60">
 <h5 class="text-primary">Empowered to Change</h5></div>
 <p>We work with you to develop individualised care plans ,including manage of chronic diseases can provide referrals.</p><hr>
</div>
<div class="col-md-3"ps-5>
  <div class="d-flex">
  <img src="{% static 's5.jpg' %}" width="70" height="60">
  <h5 class="text-primary">Better Health Outcomes</h5></div>
  <p>Buliding a healtherier world clearly means looking at the future genetics and being ready for using it.</p><hr>
  <div class="d-flex">
  <img src="{% static 's6.png' %}" width="60" height="50">
  <h5 class="text-primary">Trust Shared Purpose</h5></div>
  <p>we care for our patients,each other and our communities  and excellence is the standard of working quality.</p><hr>
  <div class="d-flex">
  <img src="{% static 's7.png' %}" width="80" height="80">
  <h5 class="text-primary">New Advanced instruments</h5></div>
  <p> We can provide referralsor advice about the type of practitioner you require to treat all enquiries Sensitively.</p><hr>
  </div>
</div>
</div>
<!--row end-->
 <div class="row ps-4" style="background-color: rgb(52, 52, 117);">
  <div class="col-md-6">
    
      <h6 class="text-info">Your Health And Safety Is Important To us</h6><br>
      <h2 class="text-light"> Find Your Nearest Lab And<br> Schedule An Appointment</h2>
     
        <div class="col-md-3">
          <div style="padding-top:100;">
          <a href="/Appointment/"><button class="btn btn-info"> + Read More</button></a>
  </div>
  </div>
  </div>
        <div class="col-md-3">
          <img src="{% static 'home-01.webp'%}" width="400" height="400"/>
       
        </div>
    
    </div>
<!--row end-->
<div class="row p-5">
<div class="col-md-5">
  <h2 class="text-primary">Tips,News & Updates</h2>
  <img src="{% static 'covid.jpg' %}"width="400" height="400"/>
  <h3 class="text-primary">Partnership to Increase COVID 19<br>Testing Capacity and Track All COVID-19 Variants</h3>
  <p>With 200 access points acrose the country a<br> comprehensive logistics network,we have proven to be an important partner in the response to COVID-19,having<br> governments with the most </p>
+Read more</div>

<div class=" col-md-3 ps-2">
<h5 class="text-primary">Preventing pathogen Passage by Taking Precautions Against the</h5>
April 25,2022-Mike Dooley
<h5 class="text-primary">Driving that Gene Mutations Seen Spreading Trait through a New Viral</h5>
April 25,2022-Mike Dooley
<h5 class="text-primary"> No Cough,No problem? Medication Concerns and COVID-19 Symptoms in </h5>
April 25,2022-Mike Dooley
<h5 class="text-primary">Celluler housekeeping:How autophagy models in mice could lead to treatment in</h5> 
April 25,2022-Mike Dooley 
</div>
<div class="col-md-3 bggreen text-light p-4" id="partners">
<h5>Sign Up For Alerts, News,Throughts,And Insights</h5>
<form>
  
  <input type="text" class="form-control"placeholder=" Your Name"pattern="[A-za-z]"/>
  
  <input type="text" class="form-control"placeholder=" Your Email"pattern="[A-za-z]"/>
  <input type="text" class="form-control"placeholder=" subscribe"pattern="[A-za-z]"/>
  
  
  
  Have A Question!<br>contact us  
</form>
</div>
</div>
{% endblock %}